@import "./preset.less";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  .df-jcc-aic;
  flex-direction: column;
}
.btn {
  padding: 7px 11px 6px;
  border-radius: 20px;
  border: none;
  font-size: 10px;
  font-family: @cabin;
}
.food-drinks {
  background-color: @button-5;
  color: @bg-color;
}
.life-style {
  background-color: @button-4;
  color: @bg-color;
}
.travel {
  background-color: @button-3;
  color: @bg-color;
}
.entertaiment {
  background-color: @button-1;
  color: @bg-color;
}
.technology {
  background-color: @button-2;
  color: @bg-color;
}
